.principal {
    overflow: hidden;
    max-width: 90%;
}

.principal_carousell {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-evenly;
    transition: transform 0.35s ease;
}

.principal_carousell article{   
    flex-grow: 1;
}

.principal_carousell article picture{
    width: 60vw;
    max-width: 100%;
} 
.principal_carousell article picture img {
    width: 100%;
    max-width: 100%;
}

@media (480px < width < 1080px){
    .principal_carousell article picture{
        width: 80vw;
    } 
}

.botonCarousell {
    background-color: var(--beige-marca-light);
    border-radius: 300px;
}

@keyframes desaparecerOpacidad {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes aparecerOpacidad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

.aparecerOpacidad {
    animation-name: aparecerOpacidad;
    animation-duration: 0.7s; 
    animation-fill-mode: forwards;
}

.desaparecerOpacidad {
    animation-name: desaparecerOpacidad;
    animation-duration: 0.2s; 
    animation-fill-mode: forwards;
}