{% extends 'view.twig' %}

{% block content %}
        <form name="form_forgot-password" action="/forgot_password" method="POST">
            <label for="mail">Correo electrónico</label>
            <input type="email" id="mail" name="email" required autofocus>
            <input type="submit" value="Enviar código" class="submit">
        </form>
{% endblock %}