{% extends 'view.twig' %}

{% block content %}
        <section class="informacion">
            <p>Código de verificación enviado a {{ email }}. Ingresa al link que te hemos enviado para restablecer tu
                contraseña.</p>
        </section>
{% endblock %}