vendor/
logs/
.env
.history/
.vscode/settings.json
postgres/
ngrok.exe
public/images/productos/*

# Imagenes Seeders
!public/images/productos/*coca_cola*
!public/images/productos/*sprite*
!public/images/productos/*hamburguesa_pollo*
!public/images/productos/*hamburguesa_bbq*
!public/images/productos/*hamburguesa_clasica*