@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header, footer {
    color: #ffffff;
    display: flex; /* Usamos flexbox para colocar los elementos en una sola línea */
    background-color: #231f20;
    box-shadow: 0px 0px 6px -2px rgba(45,36,69,0.87);
    /*border-radius: 1em; /* Añadimos esquinas redondeadas */
}


header {
    min-height: 80px;
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;
}

footer {
    justify-content: center;
    padding: 1em;
}

h2 {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

a {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h1 {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 5%;
    height: auto;
}

h1 > a > picture > img{
    width: 60%;
    display: inline-block;
    padding: 0%;
    transition: width 0.3s ease;
}

h1 > a > picture > img:hover{
    width: 67%;
}

nav {
    display: flex;
    margin: auto;
}

header nav {
    margin: 0;
}

footer nav {
    text-align: center; /* Alinea el texto al centro dentro del nav */
}

nav ul {
    list-style-type: none; /* Quitamos los puntos de la lista */
    padding: 0; /* Quitamos el relleno predeterminado de la lista */
    margin: 0; /* Quitamos el margen predeterminado de la lista */
    display: flex;
    align-items: right;
}

nav ul li {
    /* margin-right: 10px; */
}

nav ul li a, a[href="pedido/armar_pedido.html"]{
    display: inline-block; /* Hacemos que los elementos a se muestren en línea */
    padding: 10px; /* Añadimos un poco de relleno alrededor de los enlaces */
    text-decoration: none; /* Quitamos la decoración de subrayado predeterminada */
    color: #231f20;
    background-color: #fbad18; /* Color de fondo del botón */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    margin-right: 10px; /* Añadimos un margen entre los botones */
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

nav ul li a:hover, a[href="pedido/armar_pedido.html"]:hover {
    background-color: #db9714; /* Cambiamos el color de fondo al pasar el ratón por encima */
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);
}

main, section, header, footer, nav{
    margin: 0 auto;
    margin-bottom: 20px; /* Añadimos un margen inferior entre las secciones */
}

main {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 20px;
    min-height: 100vh; /* Mínimo 100% de la altura de la ventana visible */
}

section {

    display: block;
}

h3 {
    margin-bottom: 1em; /* Añade espacio debajo de los elementos h3 para simular un salto de línea */
    display: block; /* Cambia el display a bloque */
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

article {

    display: flexbox; /* Usamos flexbox para colocar los artículos en una línea */
    margin-right: 15px; /* Añadimos un margen derecho entre los artículos */
    margin-left: 15px;
    margin-top:5px;
    background-image: url('/images/Hamburguesa.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el artículo */
    background-position: center; /* Centra la imagen dentro del artículo */
    text-align: center; /* Alinea el texto en el centro */
    color: white; /* Color del texto para que se vea en la imagen */
    padding: 4em; /* Agrega un poco de espacio alrededor del texto */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    transition: box-shadow 0.7s ease;
    transition: transform 0.3s ease; 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

article:last-child {
    margin-right: 0; /* Quitamos el margen derecho del último artículo */
}

article:hover {
    box-shadow: inset 0px 0px 30px -2px rgba(17,14,26,0.53);
    transform: scale(1.02);
}

form {
    background-color: #231f20;
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    padding: 50px;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #65657b;
}

label {
    color: #65657b;
    pointer-events: none;
    /* position: relative; */
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    /* top: 20px; */
}

input {
    background-color: #303245;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    outline-color: rgb(235, 166, 18);
    height: 100%;
    width: 100%;
    margin-bottom: 2%;
    line-height: 28px;
    padding: 8px 16px;
    min-height: 44px;
    /* border: unset; */
    display: flex;
    flex-grow: 1;
    border-radius: 4px;
}

/* input::after {
    content: "asdfadsfasdfaasdf";
    height: 100px;
    width: 100%;
    background: aqua;
    display: inline-block;
} */

.submit {
    background-color: rgb(235, 166, 18);
    border-radius: 12px;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    /* flex: 2; */
    align-self: center;
    /* margin: ; */
}

.submit:active {
    background-color: rgb(243, 191, 79);
}

form a {
    /* padding: 10px; */
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 0.9rem;
    color:#65657b;
    text-align: center;
}

fieldset {
    border: none;
    /* margin: 0;
    padding: 0; */
}