@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    font-size: 12pt;
    --gris-oscuro-marca: #231f20;
    --gris-claro-marca: #65657b;
    --azul-claro: #303245;
    --amarillo-marca: #fbad18;
    --amarillo-marca-dark: #db9714;
    --beige-marca: #fcdea6;
    --beige-marca-light: #ebe5c1;
    --beige-marga-dark: #9c8b6c;
    --fuente-primaria: "Archivo Black", sans-serif;
    --fuente-secundaria: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

}

body {
    font-family: var(--fuente-secundaria);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* La página ocupa toda la pantalla */
    color: var(--gris-oscuro-marca);
    background-color: var(--beige-marca);
    background-image: linear-gradient(rgba(255, 250, 206, 0.3), rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.4)), url("/images/1.png");
    background-size: 2vw;
    background-repeat: repeat;
}

/*----------------------- HEADER -----------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--gris-oscuro-marca);
    color: white;
    width: 100%;
}

main {
    flex-grow: 1;
    background-color: var(--beige-marca);
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

h1 {
    padding: 1vw;
    flex-grow: 1;
}

h1 > a > picture > img {
    width: 10vw;
    min-width: 10rem;
    height: auto;
    transition: transform 0.4s ease;
}

h1 > a > picture > img:hover {
    transform: scale(1.10) rotate(3deg);
}

h2 {
    font-family: var(--fuente-primaria);
    text-transform: uppercase;
    margin: 1rem auto;
    text-align: center;
    color: var(--gris-oscuro-marca);
    font-size: 3.5rem;
    width:100%;
}

h4 {
    font-weight: bold;
}

nav ul {
    list-style-type: none; /* Quitamos los puntos de la lista */
    /* Quitamos el relleno predeterminado de la lista */
    margin: 0;  /* Quitamos el margen predeterminado de la lista */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    height: fit-content; /*Permite que el ul tome la altura del contenido, incluso cuando flexea y se convierte en una columna*/
    line-height: 2rem; /* hace que la altura de linea no se choque con sigo misma al convertirse en una columna */
}

nav ul li a {
    text-align: center;
    white-space: nowrap;
    text-decoration: none; /* Quitamos la decoración de subrayado predeterminada */
    font-family: var(--fuente-primaria);
    background-color: var(--amarillo-marca);
    color: var(--gris-oscuro-marca);
    padding: 0.7vh 1vw;
    border-radius: 1rem; /* Añadimos esquinas redondeadas */
    margin: 0vh 0.5vw;
}

nav ul li a:not(.selected) {
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-family: var(--fuente-primaria);
    background-color: transparent;
    color: white;
    padding: 0.7vh 1vw;
    border-radius: 1rem;
    margin: 0vh 0.5vw;
}

nav ul li a:hover {
    background-color: var(--amarillo-marca-dark); /* Cambiamos el color de fondo al pasar el ratón por encima */
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);
}

footer {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    background-color: var(--gris-oscuro-marca);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row: 1;
    width: 100%;
}

footer > small {
    color: grey;
    grid-row: 2;
    padding-top: 1rem;
}

.footer-links > li > a {
    background-color: transparent;
    color: var(--amarillo-marca);
}

.footer-links > li > a:hover {
    background-color: transparent;
    color: var(--amarillo-marca);
}


/*------------------------------------------------------- INDEX -----------------------------------------------------------------------*/

picture {
    max-height: 100%;
    max-width: 100%;
}

section {
    display: flex;
    border-bottom: 2px solid var(--gris-oscuro-marca);
    color: var(--gris-oscuro-marca);
    max-width: 100%;
    margin: 2vh auto;
    padding: 3vh 3vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

section:last-of-type {
    border-bottom:none;
}

section > a {
    width: 100%;
    color: var(--beige-marga-dark);
    text-decoration: none;
    text-align: center;
}

section > a:hover {
    text-decoration:underline;
}

.button {
    width: 60%;
    color: var(--amarillo-marca);
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1rem 0;
    background-color: var(--gris-oscuro-marca);
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    transition: transform 0.2s;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    transform: scale(1.02);
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 1vw;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: var(--beige-marca-light);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3) inset;
}

article:not(.informacion, .armar_pedido, .confirmar_pedido):hover {
    transform: scale(1.02);
    cursor: pointer;
}

.armar_pedido > label {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.armar_pedido > label > input {
    width: 2.7rem;
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--amarillo-marca-dark);
    border-radius: 10px;
    color: var(--gris-oscuro-marca);
    margin-left : 0.2rem;
}

.confirmar_pedido {
    width: 15vw;
    overflow: hidden;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.confirmar_pedido > h3 {
    width: 100%;
}

article > h3 {
    padding: 0.5rem 0;
    font-family: var(--fuente-primaria);
    background-color: var(--amarillo-marca);
    text-align: center;
    width: 100%;
}

article > p {
    padding: 0.2rem;
}

article > picture {
    max-width: 20vw;
}

article > picture > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* Probar descomentar las anteriores y comentar estas dos*/
    /* height: auto;
    max-width: 100%; */
}

.overflow_hidden > picture {
    overflow: hidden;
    max-height: auto;
}

.overflow_hidden {
    overflow: hidden;
}

/*------------------------------------------------------- LOGIN -----------------------------------------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--gris-oscuro-marca);
    color: var(--gris-claro-marca);
    font-family: var(--fuente-secundaria);
    border-radius: 3vh;
    min-width: 20vw;
    padding: 2rem;
}

select{
    background-color: var(--azul-claro);
    color: white;
    width: 100%;
    border: 0;
    margin: 1rem 0;
    font-family: var(--fuente-secundaria);
    height: 3rem;
    border-radius: 4px;
}

label {
    margin-bottom: 2%;
    align-self: flex-start;
}

legend {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

input, textarea {
    background-color: var(--azul-claro);
    border: 0; /* Le saca el borde al input */
    color: white;
    outline-color: var(--amarillo-marca);
    width: 100%;
    min-height: 3em;
    border-radius: 4px;
    margin: 1rem 0;
    
}

textarea {
    resize: none;
}

.submit {
    background-color: var(--amarillo-marca-dark);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    align-self: center;
    font-family: var(--fuente-secundaria);
    margin: 0.3rem 0;
}

.submit:active {
    background-color: rgb(243, 191, 79);
}

form a {
    font-size: 0.9rem;
    color: var(--gris-claro-marca);
    text-align: center;
}

fieldset {
    border: none;
    /* margin: 0;
    padding: 0; */
}

/*------------------------------------------------------- INFORMACIÓN -----------------------------------------------------------------------*/

.informacion > p {
    padding: 2rem;
    font-size: 1.2rem;
    color: var(--gris-oscuro-marca);
    font-family: var(--fuente-secundaria);
}

.estrella{
    background-size: 14px 14px;
    background-image: url(/images/estrella.png);
    vertical-align: top;
    display: inline-block;
    width: 14px;
    height: 13px;
}
.estrellaMitad{
    background-size: 14px 14px;
    background-image: url(/images/estrellaMitad.png);
    vertical-align: top;
    display: inline-block;
    width: 14px;
    height: 13px;
}

.ratings, section.informacion {
    display:flex;
    flex-direction: column;

}

.ratings > article, section.informacion > article {
    max-width: 100%;
    margin-top:5px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.ratings > article > h3 {
    background-color: var(--gris-oscuro-marca);
    color: white
}

/*------------------------------------------------------------ PEDIDO -------------------------------------------------------------------------*/

main.hacer_pedido {
    /* Imagen de fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/Hamburguesa-L.jpg');
    background-size: cover;  /* Ajusta el tamaño de la imagen para cubrir todo*/ 
    background-position: center; /* Centra la imagen */

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

h2.hacer_pedido {
    color: var(--amarillo-marca);
    font-size: 4rem;
    max-width: 60%;
    margin: 0;
}


section.hacer_pedido {
    flex-direction: column;
    align-items: center;
    
    gap: 2rem;

    background-color: rgba(128, 128, 128, 0.8);
    min-height: 50%;
    border-radius: 2.5rem;
}

 /* Para PC no muestro la opción de pedido en la mesa */
a[href="./seleccion_mesa_qr.html"] {
    display: none;     
}

section.hacer_pedido a {
    width: initial;
    color: var(--gris-oscuro-marca);
    background-color: #fbad18;
    border-radius: 1.5rem; 
    font-family: "Archivo Black", sans-serif;
    padding: 1vh 1.8vw;
}

section.hacer_pedido a:hover {
    text-decoration: none;
    background-color: var(--amarillo-marca-dark);
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);
}

section.hacer_pedido p {
    font-family: var(--fuente-primaria);
    font-size: 1.4rem;
}

/* Formulario de armar pedido */
form[name="form_armar_pedido"] > section{
    display: flex;
    flex-direction: row;
    margin: 0;
}

form[name="form_armar_pedido"] {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

form[name="form_armar_pedido"] h3 {
    width:100%;
    color: wheat;
    font-size: 2rem;
    margin: 1rem;
}

/* Estilo para los input radio */
input[type="radio"] {
    appearance:unset;
    width: 100%;
    margin: 0;
    background-color: transparent;
}

input[type="radio"]:checked + label {
    background-color: var(--amarillo-marca);
}

input[type="radio"] + label {
    transition: background-color 0.2s;
    transform: translateY(-2.8rem);
    text-align: center;
    align-self: center;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    border: 2px solid #65657b;
}

/*-----------------------------------------------------RESERVAS---------------------------------------------------------------------*/

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo1 {                                /*<-------------- ESTA CLASE PUEDE SER USADA PARA OTRAS PAGINAS TAMBIEN*/
    font-family: var(--fuente-primaria);
    text-transform: uppercase;
    margin: 1rem auto;
    text-align: center;
    color: var(--gris-oscuro-marca);
    font-size: 2rem;
}

article.overflow_hidden.informacion {/* POSIBLEMENTE ESTO TENGA QUE REEMPLAZARSE POR UNA CLASE ESPECIFICA, es para los articulos de reservas.html*/
    justify-content: flex-start;
}

a.link {                                /*<-------------- ESTA CLASE PUEDE SER USADA PARA OTRAS PAGINAS TAMBIEN*/
    width: 100%;
    color: var(--beige-marga-dark);
    text-decoration: none;
    text-align: center; }
a.link:hover {
    text-decoration:underline;
}

.left_arrow {
    color:transparent;
    background-image: url("../images/arrow-left.png");
    background-size: cover;
    background-position: center;
    height: 4rem;
    width: 3.5rem;
    margin: 0.5rem;
    transition: transform 0.2s; }
.left_arrow:hover {
    transform: scale(1.1);
}


/* --------------------------------------- ARTICULOS ARMAR PEDIDO ---------------------------------------*/
article.armar_pedido {
    justify-content: space-evenly;
    height: 38vh;
    min-width: fit-content;
    width: 18vw;
    margin: 0.4rem;
    white-space: nowrap;
    padding: 0 0.2rem;
}

article.armar_pedido > picture {
    height: 50%;
}

@media (max-width: 480px) {
    :root {
        font-size: 12pt; 
    }
    h2, h2.hacer_pedido {
        font-size: 1.5rem;
    }
    main {
        width: 90vw;
        max-width: 90vw;
        padding: 1rem 0;
    }
    article.armar_pedido {
        /*width: 25vw;
        max-height: 20vh;*/
        min-width: fit-content;
        min-height: fit-content;
    }
    article > picture {
        max-width: 100%;
    }
    form {
        width: auto;
    }
    form[name="form_armar_pedido"]{
        padding: 0;
    }
    .submit{
        margin: 1rem;
        width: 90%;
    }
    p {
        padding: 0;
    }
    small {
        font-size: 0.7rem;
    }
    main.hacer_pedido {
        /* Imagen de fondo */
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/Hamburguesa-S.jpg');
    }
}

@media (480px < width < 1080px) {
    :root {
        font-size: 16pt; 
    }
    h2, h2.hacer_pedido {
        font-size: 2rem;
    }
    main {
        width: 90vw;
        padding: 1rem 0;
    }
    article.armar_pedido {
        /*width: 25vw;
        max-height: 20vh;*/
        height: 70vmin;
        width: 40vmin;
    }
    article > picture {
        max-width: 100%;
    }
    main.hacer_pedido {
        /* Imagen de fondo */
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/Hamburguesa-M.jpg');
    }
}

.inputfile {
    all: unset;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}



.inputfile+label {
    all: unset;
    cursor: pointer;
}

.plano {
    height: auto;
    width: 100%;
}