{% extends 'view.twig' %}

{% block content %}
        {% if mostrarMensaje %}
            <h3>{{ mensaje }}</h3>
        {% endif %}

        <section>

        </section>

        <section>
            <h2>Confirme su pedido</h2>
            <article class="confirmar_pedido">
                <h3>Hamburguesa 1</h3>
                <p>Descripci贸n 1</p>
                <p>Cantidad: 2</p>
            </article>
            <article class="confirmar_pedido">
                <h3>Hamburguesa 2</h3>
                <p>Descripci贸n 2</p>
                <p>Cantidad: 1</p>
            </article>
            <article class="confirmar_pedido">
                <h3>Hamburguesa 3</h3>
                <p>Descripci贸n 3</p>
                <p>Cantidad: 3</p>
            </article>
        </section>

        <form name="form_confirmar_pedido" action="/confirmar_pedido" method="post">
            <fieldset>
                <label for="input_nombre">A nombre de:</label>
                <input id="input_nombre" name="input_nombre" type="text" placeholder="Ej: Francisco Guerra">
                <label for="input_info_adicional">Informaci贸n adicional:</label>
                <input id="input_info_adicional" name="input_info_adicional" type="text">
            </fieldset>
            <input type="submit" value="Confirmar" class="submit">
        </form>
{% endblock %}