{% extends 'view.twig' %}

{% block content %}
        {% if mostrarMensaje %}
            <h3>{{ mensaje }}</h3>
        {% endif %}

        <section>

        </section>

        <section>
            <h2>Confirme su pedido</h2>
            <article class="confirmar_pedido">
                <h3>Hamburguesa 2</h3>
                <p>Descripción 1</p>
                <p>Cantidad: 1</p>
            </article>
            <article class="confirmar_pedido">
                <h3>Coca cola</h3>
                <p>Descripción 2</p>
                <p>Cantidad: 1</p>
            </article>
        </section>

        <form name="form_confirmar_pedido" action="/confirmar_pedido" method="post">
            <input type="submit" value="Confirmar" class="submit">
        </form>
{% endblock %}