{% extends 'view.twig' %}

{% block content %}
    {% if mostrarMensaje %}
        <h3>{{ mensaje }}</h3>
    {% endif %}

    <section>
        {% for item in productos_pedido %}
            <article>
                <h3>{{ item.producto.fields.nombre }}</h3>
                <p>Precio por unidad: ${{ item.producto.fields.precio }}</p>
                <p>Cantidad: {{ item.cantidad }}</p>
            </article>
        {% endfor %}
    </section>

    <form name="form_confirmar_pedido" action="/confirmar_pedido" method="post">
        <input type="submit" value="Confirmar" class="submit">
    </form>
{% endblock %}