{% extends 'view.twig' %}

{% block main_class %}main_elegir_local{% endblock %}

{% block content %}
        {% if mostrarMensaje %}
            <h3>{{ mensaje }}</h3>
        {% endif %}
        <form name="form_elegir_local" action="elegir_local" method="post">
            <legend>Elegí el local</legend>
            <fieldset>
                <input id="input_moreno" name="localidad" type="radio" value="Moreno">
                <label for="input_moreno">Moreno</label>
                <input id="input_rodriguez" name="localidad" type="radio" value="Rodríguez">
                <label for="input_rodriguez">Rodríguez</label>
                <input id="input_lujan" name="localidad" type="radio" value="Luján">
                <label for="input_lujan">Luján</label>
                <input id="input_chivilcoy" name="localidad" type="radio" value="Chivilcoy">
                <label for="input_chivilcoy">Chivilcoy</label>
                <input class="submit" type="submit" value="Siguiente">
            </fieldset>
        </form>
{% endblock %}