{% extends 'view.twig' %}

{% block content %}
        <h2>
            Escanea el codigo QR de tu mesa!
        </h2>
        {% if mostrarPost %}
                <h3>{{mensaje}}</h3>
        {% endif %}
        <form id="formulario" method="post" action="/seleccion_mesa_qr">
            <label for="codigo">Código</label>
            <input type="text" id="codigo" placeholder="Escribe el código acá">
            <input type="submit" value="Confirmar" class="submit">
        </form>
{% endblock %}