{% extends 'view.twig' %}

{% block content %}
        <h2>Pedidos</h2>
        <a href="/hacer_pedido">Hace un pedido!</a>
        {% if pedidos_usuario %}
            {% for pedido in pedidos_usuario %}
                <article class='pedido' id={{pedido.fields.id}}>
                    <h4> Pedido #{{pedido.fields.id}} </h4>
                    <ul>
                        {% for productoCant in pedido.productos %}
                            <li> {{productoCant.producto.fields.nombre}}: {{productoCant.cantidad}} </li>
                        {% endfor %}
                    </ul>
                    <div class='seguimientoPedido'></div>
                </article>
            {% endfor %}
        {% else %}
            <p>No tenés pedidos nuevos.</p>
        {% endif %}
{% endblock %}