{% extends 'view.twig' %}

{% block content %}
        <h2>Pedidos</h2>
        <a href="/hacer_pedido">Hace un pedido!</a>
        {% if pedidos_usuario %}
            {% for pedido in pedidos_usuario %}
                <article class='pedido' id={{pedido["id_pedido"]}}>
                    <h4> Pedido #{{pedido["id_pedido"]}} </h4>
                    <ul>
                        {% for producto in pedido["productos"] %}
                            <li> {{producto["nombre"]}} </li>
                        {% endfor %}
                    </ul>
                    <div class='seguimientoPedido'></div>
                </article>
            {% endfor %}
        {% else %}
            <p>No tenés pedidos nuevos.</p>
        {% endif %}
{% endblock %}