<footer>
    <nav>
        <ul>
            <li>
                <a href="#" rel="external" target="_blank">
                    Instagram
                </a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank">
                    Facebook
                </a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank">
                    X
                </a>
            </li>
            <li>
                <a href="mailto:pawpower@gmail.com">pawpower@gmail.com</a>
            </li>
            <li>
                <a href="/informacion/politica_privacidad.html"><small>Políticas de privacidad</small></a> 
            </li>
            <li>
                <a href="#" rel="external"><small>Derechos registrados</small></a>
            </li>
        </ul>
    </nav>
</footer>