<footer>
    <nav>
        <ul>
            <li>
                <a href="#" rel="external" target="_blank" class="instagram">
                    Instagram
                </a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" class="facebook">
                    Facebook
                </a>
            </li>
            <li>
                <a href="#" rel="external" target="_blank" class="twitter">
                    X
                </a>
            </li>
            <li>
                <a href="mailto:pawpower@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
                <a href="/informacion/politica_privacidad.html"><small>Políticas de privacidad</small></a>
            </li>
            <li>
                <a href="/informacion/informacion.html"><small>Acerca de nosotros</small></a>
            </li>
            <li>
                <a href="#" rel="external"><small>Derechos registrados</small></a>
            </li>
        </ul>
    </nav>
</footer>