<footer>
    <ul>
        <li>
            <a href="#">
                <img id="footer-instagram" src="/images/instagram.png" alt="icon">
            </a>
        </li>
        <li>
            <a href="#">
                <img id="footer-facebook" src="/images/facebook.png" alt="icon">
            </a>
        </li>
        <li>
            <a href="#">
                <img id="footer-twitter" src="/images/twitter.png" alt="icon">
            </a>
        </li>
        <li>
            <img src="/images/email.png" alt="icon">
            burger@gmail.com
        </li>
        <li>
            Políticas de privacidad
        </li>
        <li>
            Derechos registrados
        </li>
    </ul>
</footer>