<nav>
    <ul>
        <li>
            <label for="nav-reservas">
                <input type="button" id="nav-reservas" value="Reservas">
            </label>
        </li>
        <li>
            <label for="nav-menu">
                <input type="button" id="nav-menu" value="Menú">
            </label>
        </li>
        <li>
            <label for="nav-pedido">
                <input type="button" id="nav-pedido" value="Hacer pedido">
            </label>
        </li>
        <li>
            <label for="nav-locales">
                <input type="button" id="nav-locales" value="Locales">
            </label>
        </li>
        <li>
            <label for="nav-login">
                <input type="button" id="nav-login" value="Iniciar Sesión">
            </label>
        </li>
    </ul>
</nav>