body {
    min-height: 100%;
}

main {
    display: block;
    overflow-y: auto;
}

form {
    height: auto;
    margin-bottom:1rem;
    margin-left: 3vh;
    margin-right: 3vh;
}

section {
    display: grid;
    gap: 20px; /* Espacio entre los elementos */
    grid-template-areas:
        'header header'
        'first-article second-article'
        'third-article fourth-article';
    max-height: 100;
}

h2 {
    text-align: center;
    grid-area: header;
}

article {
    padding: 20px; /* Añadir relleno para visualización */
    width: auto;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/Hamburguesa.jpg');
}

article:nth-child(0) {
    grid-area: first-article; /* Primer artículo en la primera fila */
}

article:nth-child(1) {
    grid-area: second-article; /* Segundo artículo en la primera fila */
}

article:nth-child(2) {
    grid-area: third-article; /* Tercer artículo en la segunda fila */
}

article:nth-child(3) {
    grid-area: fourth-article; /* Cuarto artículo en la segunda fila */
}

figure > picture > img{
    height: auto; /* La imagen no será más grande que el ancho del contenedor */
    max-width: 100%; /* Mantiene el aspect ratio de la imagen */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    border: solid #fbad18; 4px;
}

figcaption > a {
    color: #fbad18;
    text-decoration: none;
}

a:not(:last-child) {
    margin-right: 5vh; /* Ajusta el valor según sea necesario */
}