{% extends 'view.twig' %}

{% block content %}
        <h3 class="titulo1">Elija las mesas a reservar</h3>
        <form class="form_seleccion_mesa" name="form_seleccion_mesa" action="/agregar_reserva" method="POST" required>
            <select class="select-hora" name="hora">
                <option value="09:00">09:00</option>
                <option value="10:30">10:30</option>
                <option value="12:00">12:00</option>
                <option value="13:30">13:30</option>
                <option value="15:00">15:00</option>
                <option value="16:30">16:30</option>
                <option value="18:00">18:00</option>
                <option value="19:30">19:30</option>
                <option value="21:00">21:00</option>
                <option value="22:30">22:30</option>
            </select>
            <label for="fecha">Seleccione un día:</label>
            <input type="date" class="input-fecha" name="fecha" required>

            <label for="localInput" class="labelLocalReserva">Mesa a reservar</label>
            <input type="text" id="localInput" name="local" class="inputLocalReserva" required value="{{ local }}">

            <label for="mesaInput" class="labelMesaReserva">Mesa a reservar</label>
            <input type="text" id="mesaInput" name="idMesa" class="inputMesaReserva" required>
            {% include 'reserva/PlanoSucursalA.svg' %}

            <input type="submit" value="Hacer reserva" class="submit">
        </form>
        <a href="./local.html" class="left_arrow">Volver</a>
{% endblock %}