{% extends 'view.twig' %}

{% block main_class %}menu{% endblock %}

{% block content %}
        {% for item in products %}
            <article class="armar_pedido">
                <picture>
                    <img src= "{{item.pathImg}}" >
                </picture>
                <h3>{{item.nombre}}</h3>
                <p> 
                    {{item.descripcion}}
                    <br>
                    {{item.precio}}
                </p>
            </article>
        {% endfor %}
        <div class="loading" id="loading"> loading... </div>
{% endblock %}