<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <picture>
        <source srcset="./images/foto-hamburguesa-2-L.png" media="(min-width: 1024px)">
        <source srcset="./images/foto-hamburguesa-2-M.png" media="(min-width: 481px) and (max-width: 1023px)"> 
        <source srcset="./images/foto-hamburguesa-2-S.png" media="(max-width: 480px)">
        <img src="./images/foto-hamburguesa-2-L.png" >
    </picture>
</body>
</html>