@import url('Estilo.css');

picture {
    max-height: 100%;
    max-width: 100%;
}

.principal {
    display: flex;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 3vh;
}

.principal > article {
    overflow: hidden;
}

.principal > a {
    width: 60%;
    border-radius: 10px;
    padding: 1rem 0;
    background-color: var(--gris-oscuro-marca);

    color: var(--amarillo-marca);
    font-family: var(--fuente-secundaria);
    font-size: 2rem;

    transition: transform 0.2s;
}

.principal > a:hover {
    transform: scale(1.02);
    text-decoration: none;
}

.principal > h3 {
    display: none;
}


section {
    border-bottom: 2px solid var(--gris-oscuro-marca);
    color: var(--gris-oscuro-marca);
    max-width: 58vw;
    margin: 5vh auto;
    display: flex;
    text-align: center;
    padding: 3vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section:last-of-type {
    border-bottom:none;
}

section > a {
    width: 100%;
    color: rgb(156, 139, 108);
    text-decoration: none;
}

section > a:hover {
    text-decoration:underline;
}

section > h3 {
    color: var(--gris-oscuro-marca);
    font-size: 3.5rem;
}

article {
    max-width: 20vw;
    max-height: 30vh;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: rgb(235, 229, 193);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3) inset;
}

article:hover {
    transform: scale(1.02);
}

article > h4 {
    padding: 0.5rem;
    font-family: var(--fuente-primaria);
    background-color: var(--amarillo-marca);
}

article > p {
    padding: 0.2rem;
}

article > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
