@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    font-size: 12pt;
    --gris-oscuro-marca: #231f20;
    --amarillo-marca: #fbad18;
    --amarillo-marca-dark: #db9714;
    --beige-marca: #fcdea6;
}

body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* La página ocupa toda la pantalla */

    background-color: var(--beige-marca);
    background-image: linear-gradient(rgba(255, 250, 206, 0.3), rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.4)), url("/images/1.png");
    background-size: 2vw;
    background-repeat: repeat;
}

/*----------------------- HEADER -----------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--gris-oscuro-marca);
    color: white;
    width: 100%;
}

header h2 {
    visibility: hidden;
}

main {
    flex: 1;
    background-color: var(--beige-marca);
    width: 70vw;
}

/* Revisar, hace falta que esté en este CSS? */
h3 {
    margin-bottom: 1.5rem;
    /* Añade espacio debajo de los elementos h3 para simular un salto de línea */
    display: block;
    width: 100%;
    /* Cambia el display a bloque */
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    padding: 1vw;
}

h1 > a > picture > img {
    width: 10vw;
    min-width: 10rem;
    height: auto;
    transition: transform 0.4s ease;
}

h1 > a > picture > img:hover {
    transform: scale(1.10);
}

h2 {
    font-family: "Archivo Black", sans-serif;
    padding-left: 1vw;
    flex-grow: 1;   /* Que ocupe todo lo que pueda */
}

.nav_ul {
    list-style-type: none; /* Quitamos los puntos de la lista */
    /* Quitamos el relleno predeterminado de la lista */
    margin: 0;  /* Quitamos el margen predeterminado de la lista */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}

nav ul li a {
    text-align: center;
    white-space: nowrap;
    text-decoration: none; /* Quitamos la decoración de subrayado predeterminada */
    font-family: "Archivo Black", sans-serif;
    background-color: var(--amarillo-marca);
    color: var(--gris-oscuro-marca);
    padding: 0.7vh 1vw;
    border-radius: 1rem; /* Añadimos esquinas redondeadas */
    margin: 0vh 0.5vw;
}

nav ul li a:not(.selected) {
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    background-color: transparent;
    color: white;
    padding: 0.7vh 1vw;
    border-radius: 1rem;
    margin: 0vh 0.5vw;
}

nav ul li a:hover {
    background-color: var(--amarillo-marca-dark); /* Cambiamos el color de fondo al pasar el ratón por encima */
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: var(--gris-oscuro-marca);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}


footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row: 1;
    width: 100%;
}

footer > small {
    color: grey;
    grid-row: 2;
    padding-top: 1rem;
}

.footer-links > li > a {
    background-color: transparent;
    color: var(--amarillo-marca);
}

.footer-links > li > a:hover {
    background-color: transparent;
    color: var(--amarillo-marca);
}
