@import url("Estilo.css");


/*-----------------------------------------------------------------------------------------------------------------------------*/

form {
    background-color: #231f20;
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    padding: 50px;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #65657b;
    max-width: 500px;
}

label {
    color: #65657b;
    pointer-events: none;
    /* position: relative; */
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    /* top: 20px; */
}

legend {
    font-weight: bold;
}

input {
    background-color: #303245;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    outline-color: rgb(235, 166, 18);
    height: 100%;
    width: 100%;
    margin-bottom: 2%;
    line-height: 28px;
    padding: 8px 16px;
    min-height: 44px;
    /* border: unset; */
    display: flex;
    flex-grow: 1;
    border-radius: 4px;
}

/* input::after {
    content: "asdfadsfasdfaasdf";
    height: 100px;
    width: 100%;
    background: aqua;
    display: inline-block;
} */

.submit {
    background-color: rgb(235, 166, 18);
    border-radius: 12px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    /* flex: 2; */
    align-self: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    /* margin: ; */
    padding: 10px 20px; /* Ajusta el relleno para dar espacio alrededor del texto */
    text-align: center; /* Centra el texto horizontalmente */
    display: block; /* Hace que el botón se muestre como bloque */
    margin: 2 auto; /* Centra el botón horizontalmente */
}

.submit:active {
    background-color: rgb(243, 191, 79);
}

form a {
    /* padding: 10px; */
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 0.9rem;
    color:#65657b;
    text-align: center;
}

fieldset {
    border: none;
    /* margin: 0;
    padding: 0; */
}

/*-----------------------------------------------------------------------------------------------------------------------------*/

form {
    max-height: 90%;
    margin-bottom:1rem;
    max-width: fit-content;
    align-items: first baseline;
    outline: 2px solid darkgray;
}

fieldset input[type="radio"] {
    /* Estilos para los radios dentro del fieldset */
    /* Por ejemplo */
    width: 3.0vh;
    height: 3.0vh;
}

fieldset {
    margin-bottom: 4vh; /* Ajusta el valor según sea necesario */
}

section {
    display: grid;
    gap: 20px; /* Espacio entre los elementos */
    /* grid-template-areas:
        'header header'
        'first-article second-article'
        'third-article fourth-article'; */
    grid-template-columns: 1fr 1fr;
    max-height: 100;
    margin-left: 20px;
    margin-right: 20px;
    /*
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('/images/Hamburguesa.jpg');
    background-size: cover;
    background-position: center;
    */
    border-radius: 3vh;
}

h2 {
    text-align: center;
    grid-area: header;
    display: block;
}

h3.mensaje {
    margin-top: 30vh;
    font-size: 5vh;
    margin-bottom: 2vh;
}

article {
    padding: 20px; /* Añadir relleno para visualización */
    width: auto;
    height: auto;
    text-align: center;
}

figure picture img{
    height: auto; /* La imagen no será más grande que el ancho del contenedor */
    max-width: 100%; /* Mantiene el aspect ratio de la imagen */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    border: solid #fbad18;
}

figcaption > a {
    color: #fbad18;
    text-decoration: none;
}

a {
    text-align: center;
    display: block;
}

a.volver {
    background-image: url('/images/arrow-left.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el artículo */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen dentro del artículo */
    max-width: fit-content;
    padding: 2.6vh 0.1vh; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    color: transparent;
    transition: transform 0.3s ease; 
}

a.volver:hover{
    transform: scale(1.2);
}

a.inicio {
    margin-bottom: 5vh;
    color: white;
    text-decoration: none;
    margin-bottom: 8vh;
}

.aspect-ratio-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* Proporción de aspecto 16:9 (9 dividido por 16) */
}

.aspect-ratio-container picture,
.aspect-ratio-container img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor manteniendo su relación de aspecto */
}