.main_hacer_pedido {
    /* Imagen de fondo */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/Hamburguesa.jpg');
    background-size: cover;  /* Ajusta el tamaño de la imagen para cubrir todo*/ 
    background-position: center; /* Centra la imagen */

    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    text-align: center;
}


.opciones_pedido {
    grid-column: 2;
    background-color: rgba(128, 128, 128, 0.8);
    min-height: 50%;
    border-radius: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    flex-wrap: nowrap;  /* Cambio heredado */
    max-width: none;    /* Cambio heredado */
    margin: 0;    /* Cambio heredado */
    padding: 0; /* Cambio heredado */
}

.opciones_pedido a {
    padding: 1vh 1.8vw; /* Añadimos un poco de relleno alrededor de los enlaces */
    text-decoration: none;
    background-color: #fbad18; /* Color de fondo del botón */
    border-radius: 1.5rem; /* Añadimos esquinas redondeadas */
    font-family: "Archivo Black", sans-serif;

    width: initial; /* Cambio heredado */
    color: #231f20; /* Cambio heredado */
}

.opciones_pedido a:hover {
    background-color: #db9714; /* Cambiamos el color de fondo al pasar el ratón por encima */
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);

    text-decoration: none;  /* Cambio heredado */
}


.opciones_pedido p {
    font-family: "Archivo Black", sans-serif;
    font-size: 1.4rem;
    padding: 0 1vw;
}

 /* Para PC no muestro la opción de pedido en la mesa */
a[href="seleccion_mesa_qr.html"] {
    display: none;     
}



/* ----------------------- Elegir local ---------------------------- */

textarea {
    resize: none;
}

form[name="form_armar_pedido"] > section{
    display: flex;
    flex-direction: row;
    margin: 0;
}

form[name="form_armar_pedido"] {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

form[name="form_armar_pedido"] h3 {
    width:100%;
    color: wheat;
}