.principal {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 3fr 3fr 1fr;
    text-align: center;
    overflow-y: auto;
    padding: 3vh;
    
}

.button {
    display: inline-block; /* Hacemos que los elementos a se muestren en línea */
    padding: 10px; /* Añadimos un poco de relleno alrededor de los enlaces */
    text-decoration: none; /* Quitamos la decoración de subrayado predeterminada */
    color: var(--gris-oscuro-marca);
    background-color: var(--amarillo-marca); /* Color de fondo del botón */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    margin-right: 10px; /* Añadimos un margen entre los botones */
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

.button:hover {
    background-color: var(--amarillo-marca-dark); /* Cambiamos el color de fondo al pasar el ratón por encima */
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);
}


section {
    max-width: 58vw;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3vh;
}

/*
article:last-child {
    margin-right: 0;
}
*/


article {
    display: flex; /* Usamos flexbox para colocar los artículos en una línea */
    flex-direction: column;
    margin: 1vw;
    text-align: center; /* Alinea el texto en el centro */
    color: white; /* Color del texto para que se vea en la imagen */
    padding: 4em; /* Agrega un poco de espacio alrededor del texto */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    transition: box-shadow 0.7s ease;
    transition: transform 0.3s ease;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

article:hover {
    box-shadow: inset 0px 0px 30px -2px rgba(17,14,26,0.53);
    transform: scale(1.02);
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.menu a{
    grid-column: 3;
    grid-row: auto;
    padding: 10px; /* Añadimos un poco de relleno alrededor de los enlaces */
    text-decoration: none; /* Quitamos la decoración de subrayado predeterminada */
    color: #231f20;
    background-color: #fbad18; /* Color de fondo del botón */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    margin: 100px; /* Añadimos un margen entre los botones */
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

.menu a:hover{
    background-color: #db9714; /* Cambiamos el color de fondo al pasar el ratón por encima */
    box-shadow: inset 0px 0px 8px -2px rgba(45,36,69,0.69);
}