body {
    min-height: 100%;
}

h2,h3 {
    color: #fbad18;
}

h2 {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

main {
    border-radius: 3vh;
    text-align: center;
    display: flexbox;
    overflow-y: auto;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/Hamburguesa.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el artículo */
    background-position: center; /* Centra la imagen dentro del artículo */
    background-color: #231f20;
    min-height: fit-content;
    min-height: 68.4vh;
    /*max-width: fit-content;*/
}

form {
    max-height: 90%;
    margin-bottom:1rem;
    max-width: fit-content;
    align-items: first baseline;
    outline: 2px solid darkgray;
}

fieldset input[type="radio"] {
    /* Estilos para los radios dentro del fieldset */
    /* Por ejemplo */
    width: 3.0vh;
    height: 3.0vh;
}

fieldset {
    margin-bottom: 4vh; /* Ajusta el valor según sea necesario */
}

section {
    display: grid;
    gap: 20px; /* Espacio entre los elementos */
    /* grid-template-areas:
        'header header'
        'first-article second-article'
        'third-article fourth-article'; */
    grid-template-columns: 1fr 1fr;
    max-height: 100;
    margin-left: 20px;
    margin-right: 20px;
    /*
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('/images/Hamburguesa.jpg');
    background-size: cover;
    background-position: center;
    */
    border-radius: 3vh;
}

h2 {
    text-align: center;
    grid-area: header;
    display: block;
}

h2.mensaje {
    margin-top: 30vh;
    font-size: 5vh;
    margin-bottom: 2vh;
}

article {
    padding: 20px; /* Añadir relleno para visualización */
    width: auto;
    height: auto;
    text-align: center;
}

figure > picture > img{
    height: auto; /* La imagen no será más grande que el ancho del contenedor */
    max-width: 100%; /* Mantiene el aspect ratio de la imagen */
    border-radius: 3vh; /* Añadimos esquinas redondeadas */
    border: solid #fbad18;
}

figcaption > a {
    color: #fbad18;
    text-decoration: none;
}

a {
    text-align: center;
    display: block;
}

a.volver {
    background-image: url('/images/arrow-left.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el artículo */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen dentro del artículo */
    max-width: fit-content;
    padding: 2.6vh 0.1vh; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    color: transparent;
    transition: transform 0.3s ease; 
}

a.volver:hover{
    transform: scale(1.2);
}

a.inicio {
    margin-bottom: 5vh;
    color: white;
    text-decoration: none;
    margin-bottom: 8vh;
}