@import url("style.css");

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
}

figure picture {
    height: 80%;
    overflow: hidden;
}

img {
    height: fit-content;
    max-width: 100%;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-content:center;
}

h3 {
    justify-self: self-start;
}

main > h3 {
    text-align: center;
    margin: 2rem auto;
}

article a {
    text-align: center;
    color: var(--beige-marga-dark);
    text-decoration: none;
}

main > a {
    margin: 2rem auto;
    text-align: center;
    color: var(--beige-marga-dark);
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

form {
    margin: 2rem auto;
}

