{% extends 'view.twig' %}

{% block content %}
        <form name="alta_plato" action="/alta_plato" method="POST" enctype="multipart/form-data">
            <label for="nombre">Nombre del plato</label>
            <input type="text" id="nombre" name="nombre" tabindex="1" required autocomplete="on" autofocus>
            <label for="descripcion">Descripción</label>
            <input type="text" id="descripcion" name="descripcion" tabindex="2" required autocomplete="on">
            <label for="precio">Precio</label>
            <input type="number" id="precio" name="precio" min="0" max="999999" tabindex="3" required autocomplete="on">
            <label for="imagen">Foto del plato</label>


            <div class="drop-area">
                <h3>Arrastra y suelta imagenes</h3>
                <p>o</p>
                <label class="submit" for="imagen">Sube una Imagen</label>
                <input class="inputfile" type="file" id="imagen" name="imagen" accept="image/jpeg, image/png" required data-multiple-caption="{count} files selected" multiple>
            </div>
            <div class="preview"></div>
            

            <input type="submit" value="Subir" class="submit">
        </form>
        {% if post %}
            <h3>{{ mensaje }}</h3>
        {% endif %}
{% endblock %}